{% extends "base.html.twig" %}

{% block title %}{{ parent() }}: Accueil {% endblock %} {# parent para recuperar toddo de la pagina madre #}

{% block body %}

    {% if is_granted('IS_AUTHENTICATED') %}
        <div>
            {% for group, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ group }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="container" id="home-page">

            {{ form_start(form) }}
            <div id="filter">
            {{ form_row(form.sites) }}
            {{ form_row(form.search) }}
            {{ form_row(form.startDate) }}
            {{ form_row(form.endDate) }}
            <div class="checkbox-group">
                {{ form_row(form.organisateur) }}
                {{ form_row(form.inscrit) }}
                {{ form_row(form.nonInscrit) }}
                {{ form_row(form.passees) }}
            </div>
            {{ form_row(form.submit) }}
            </div>
            {{ form_end(form) }}

            <br>
            <br>
            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits/places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sortie in sorties %}
                        <tr>
                            <th>{{ sortie.nom }}</th>
                            <th>{{ sortie.dateHeureDebut|date("d/m/Y H:i") }}</th>
                            <th>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</th>
                            <th>/{{ sortie.nbInscriptionsMax }}</th>
                            <th>{{ sortie.etats.libelle }}</th>
                            <th></th>
                            <th>{{ sortie.organisateur.prenom|capitalize }} {{ sortie.organisateur.nom|upper|u.truncate(2,'.') }}</th>
                            {% if sortie.etats.id == 1 and sortie.organisateur == app.user %}
                                <th><a href="">Modifier</a> - Publier</th>
                            {% elseif sortie.etats.id == 2 and sortie.organisateur == app.user %}
                                <th>Afficher - Annuler</th>
                            {% elseif sortie.etats.id == 2 %}
                                <th>Afficher - S'inscrire</th>
                                {#    revoir quand on est inscrit et état ouvert           {% elseif sortie.etats.id == 2 and %} #}
                                {#                                <th></th>  #}
                            {% else %}
                                <th>Afficher</th>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
            <button type="submit"><a href="{{ path('sortie_creer') }}"> Créer une sortie</a></button>
        </div>

    {% else %}
        <div class="home-wrapper">
            <h1>Bienvenue</h1>

            <div>
                <img src="{{ asset('Images/sortir_home.png') }}" alt="sortir" width="500px">
            </div>
        </div>
    {% endif %}

{% endblock %}
