{% extends "base.html.twig" %}

{% block title %}{{ parent() }}: Accueil {% endblock %} {# parent para recuperar toddo de la pagina madre #}

{% block body %}

    {% if is_granted('IS_AUTHENTICATED') %}
        <div>
            {% for group, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ group }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="container" id="home-page">
            <h2>Bienvenue {{ app.user.pseudo}} !</h2>

            {{ form_start(form) }}
            <div id="filter">
                {{ form_row(form.sites) }}
                {{ form_row(form.nom) }}

            </div>
            <div id="filter">
                {{ form_row(form.startDate) }}
                {{ form_row(form.endDate) }}
                {{ form_row(form.submit) }}
            </div>




                <div class="checkbox-group">
                    <input type="checkbox" id="sortie-orga" name="sortie-orga"/>
                    <label for="sortie-orga">Sorties dont je suis l'organisateur/trice</label>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" id="sortie-inscrit" name="sortie-inscrit"/>
                    <label for="sortie-inscrit">Sorties auxquelles je suis inscrit/e</label>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" id="sortie-non-inscrit" name="sortie-non-inscrit"/>
                    <label for="sortie-non-inscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" id="sortie-archive" name="sortie-archive"/>
                    <label for="sortie-archive">Sorties passées</label>
                </div>


            {{ form_end(form) }}

            <br>
            <br>
            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits/places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sortie in sorties %}
                        {% if sortie.etats.id != 7 %}
                            <tr>
                                <td>{{ sortie.nom|capitalize }}</td>
                                <td>{{ sortie.dateHeureDebut|date("d/m/Y H:i") }}</td>
                                <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
                                <td>{{ sortie.participants.count }}/{{ sortie.nbInscriptionsMax }}</td>
                                <td>{{ sortie.etats.libelle|capitalize }}</td>
                                <td>{{ sortie.participants.contains(app.user) ? 'X' : '' }}</td>
                                {% if sortie.organisateur == app.user %}
                                    <td>{{ sortie.organisateur.prenom|capitalize }} {{ sortie.organisateur.nom|upper|u.truncate(2,'.') }}</td>
                                {% else %}
                                    <td>
                                        <a href="">{{ sortie.organisateur.prenom|capitalize }} {{ sortie.organisateur.nom|upper|u.truncate(2,'.') }}</a>
                                    </td>
                                {% endif %}
                                <td>
                                    <div class="button-container">
                                        {% if sortie.etats.id != 1 %}
                                            <form action="{{ path('sortie_detail', {'id': sortie.id}) }}">
                                                <button class="btn btn-primary">Afficher</button>
                                            </form>
                                        {% endif %}
                                        {% if sortie.etats.id == 2 and sortie.participants.contains(app.user) %}
                                            <form action="{{ path('desinscription_sortie', {'id': sortie.id}) }}"
                                                  method="post"
                                                  onsubmit="return confirm('Êtes-vous sûr de vouloir vous désinscrire de cette sortie ?');">
                                                <button type="submit" class="btn btn-primary">Se désister</button>
                                            </form>
                                        {% elseif sortie.etats.id == 2 %}
                                            <form action="{{ path('inscription_sortie', {'id': sortie.id}) }}"
                                                  method="post">
                                                <button type="submit" class="btn btn-primary">S'inscrire</button>
                                            </form>
                                        {% endif %}
                                        {% if sortie.etats.id == 1 and sortie.organisateur == app.user %}
                                            <form action="{{ path('sortie_modifier', {'id': sortie.id}) }}">
                                                <button class="btn btn-primary">Modifier</button>
                                            </form>
                                            <form action="{{ path('sortie_publier', {'id': sortie.id}) }}">
                                                <button class="btn btn-primary">Publier</button>
                                            </form>
                                        {% endif %}
                                        {% if sortie.etats.id == 2 and sortie.organisateur == app.user %}
                                            <form action="{{ path('sortie_annuler', {'id': sortie.id}) }}">
                                                <button class="btn btn-primary">Annuler</button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
            <button type="submit"><a href="{{ path('sortie_creer') }}"> Créer une sortie</a></button>
        </div>
    {% else %}
        <div class="home-wrapper">
            <h1>Bienvenue</h1>

            <div>
                <img src="{{ asset('Images/sortir_home.png') }}" alt="sortir" width="500px">
            </div>
        </div>
    {% endif %}

{% endblock %}
