{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="container">
        <h1>Mon profil</h1>
        {% if is_granted('IS_AUTHENTICATED') %}
            {{ form_errors(profilForm) }}

            {{ form_start(profilForm) }}

            {{ form_row(profilForm.pseudo, {'value': app.user.pseudo}) }}
            {{ form_row(profilForm.nom, {'value': app.user.nom}) }}
            {{ form_row(profilForm.prenom, {'value': app.user.prenom}) }}
            {{ form_row(profilForm.telephone, {'value': app.user.telephone}) }}
            {{ form_row(profilForm.email, {'value': app.user.email}) }}
            {{ form_row(profilForm.image) }}
            {{ form_row(profilForm.sites)  }}
            {{ form_row(profilForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(profilForm.submit) }}

{#            {{ form_row(profilForm.sites, {'value': app.user.site})  }}#}


            {#        {{ form_row(profilForm.plainPassword, {label: 'Password'}) }} #}
            {{ form_end(profilForm) }}
        {% endif %}
    </div>

{% endblock %}



