{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <div>
        {% for group, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ group }}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="container">
        <h1>Mon profil</h1>
        {% if is_granted('IS_AUTHENTICATED') %}
            {{ form_errors(profilForm) }}

            {{ form_start(profilForm) }}
            {% if user.image is not empty %}
                <img src="{{ asset(picture_dir ~ '/' ~ app.user.image) }}" width="500px"/>
            {% endif %}

            {{ form_row(profilForm.pseudo, {'value': app.user.pseudo}) }}
            {{ form_row(profilForm.nom, {'value': app.user.nom}) }}
            {{ form_row(profilForm.prenom, {'value': app.user.prenom}) }}
            {{ form_row(profilForm.telephone, {'value': app.user.telephone}) }}
            {{ form_row(profilForm.email, {'value': app.user.email}) }}
            {{ form_row(profilForm.image,{'value': app.user.image}) }}
            {{ form_row(profilForm.sites) }}
            {{ form_row(profilForm.plainPassword, {
                label: 'Password'
            }) }}

            {# bouton udpate permettant de mettre à jour le profil. Relié au controler et au form #}
            {{ form_row(profilForm.btnUpdate) }}

            {#            {{ form_row(profilForm.sites, {'value': app.user.site})  }} #}


            {#        {{ form_row(profilForm.plainPassword, {label: 'Password'}) }} #}
            {{ form_end(profilForm) }}
        {% endif %}
    </div>

{% endblock %}



