{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: Sites {% endblock %}

{% block body %}
    <div>
        {% for group, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ group }}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="container">
        <h1>Gérer les sites</h1>

        <p>Filtrer les sites</p>
        {{ form_start(form) }}
        <div id="filter">
            {{ form_row(form.nom) }}
            {{ form_row(form.submit) }}
        </div>
        {{ form_end(form) }}
        <br>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Ville</th>
                    <th>Actions</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for i in sites %}
                    <tr>
                        <th>{{ i.nom|upper }}</th>
                        <th><a href="{{ path('app_sites_ajouter', { id : i.id }) }}">Modifier</a></th>
                        <th>-</th>
                        <th><a href="">Supprimer</a></th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <button type="submit"><a href="{{ path('app_sites_ajouter') }}">Ajouter</a></button>
    </div>
{% endblock %}
