{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: Sites {% endblock %}

{% block body %}
    <div>
        {% for group, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ group }}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="container">
        <h1>Gérer les sites</h1>

        <div>
            <p>Filtrer les sites</p>
            <label for="site-search">Le nom contient:</label>
            <input type="search" id="site-search" name="filter"/>
            <button type="submit">Rechercher</button>
        </div>
        <br>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Ville</th>
                    <th>Actions</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for i in sites %}
                    <tr>
                        <th>{{ i.nom|upper }}</th>
                        <th><a href="{{ path('app_sites_ajouter', { id : i.id }) }}">Modifier</a></th>
                        <th>-</th>
                        <th><a href="{{ path('app_sites_supprimer', { id : i.id }) }}" onclick="return confirm('Voulez-vous vraiment supprimer ce site ?')">Supprimer</a></th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <button type="submit"><a href="{{ path('app_sites_ajouter') }}">Ajouter</a></button>
    </div>
{% endblock %}
