{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: Villes {% endblock %}

{% block body %}
    <div class="container">
        <h1>Gérer les villes</h1>

        <div>
            <p>Filtrer les villes</p>
            <label for="ville-search">Le nom contient:</label>
            <input type="search" id="ville-search" name="filter"/>
            <button type="submit">Rechercher</button>
        </div>
        <br>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Ville</th>
                    <th>Code Postal</th>
                    <th>Actions</th>
                </tr>
                </thead>
                {% for ville in ville %}
                    <tbody>
                    <tr>
                        <th>{{ ville.nom | upper}}</th>
                        <th>{{ ville.codePostal }}</th>
                        <td>
{#                        <a href="{{ path('app_villes_modifier', { id : i.id }) }}">Modifier</a> |#}
{#                            <a href="{{ path('app_delete', { id : i.id}) }}">Supprimer</a>#}
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
        <br>
        <button type="submit"><a href="{{ path('app_villes_ajouter') }}">Ajouter</a></button>
    </div>


{% endblock %}