{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} : Créer une sortie
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer une sortie</h1>
        <div class="form-container">
            {{ form_start(formSortie) }}
            {{ form_row(formSortie.nom) }}
            {{ form_row(formSortie.dateHeureDebut) }}
            {{ form_row(formSortie.dateLimiteInscription) }}
            {{ form_row(formSortie.nbInscriptionsMax) }}
            {{ form_row(formSortie.duree) }}
            {{ form_row(formSortie.infosSortie) }}
            {{ form_row(formSortie.lieux) }}
            <div id="info-lieu"></div>
            <div class="form-buttons">
                {{ form_row(formSortie.btnRegister) }}
                {{ form_row(formSortie.btnPublish) }}
                <button class="btn btn-primary" onclick="if(confirm('Vous êtes sur le point de revenir sans enregistrer les modifications. Voulez-vous continuer?')) window.location.href='{{ path('app_home') }}'">Annuler</button>


            </div>
            {{ form_end(formSortie) }}

        <script>
            document.getElementById('sortie_lieux').addEventListener('change', function() {
                var lieuId = this.value;
                getInfoLieu(lieuId);
            });

            function getInfoLieu(lieuId){
                fetch("{{ path('lieu_info',{'id': 'PLACEHOLDER'}) }}".replace('PLACEHOLDER',lieuId))
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('info-lieu').innerHTML = `
                    <p>Latitude: ${data.latitude}</p>
                    <p>Longitude: ${data.longitude}</p>
                `;
                    })
                    .catch(error => console.error('Error:', error));
            }


        </script>


        </div>
    </div>
{% endblock %}
