{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Detail{% endblock %}

{% block body %}
    <h2>Afficher une sortie</h2>

    <table class="table">
    <tbody>
   <tr>

        <th>Nom de la sortie:</th>
        <td>{{ sortie.nom }}</td>
        <th>Date et heure de la sortie: </th>
        <td>{{ sortie.dateHeureDebut|date("d/m/Y H:i") }}</td>
        <th>Date limite d'inscription:</th>
        <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
        <th>Nombre de places: </th>
        <td>{{ sortie.nbInscriptionsMax}}</td>
        <th>Durée:</th>
        <td> {{ sortie.duree }}</td>
        <th>Description et infos:</th>
        <td>{{ sortie.infosSortie }}</td>
{#        <li>Lieu: {{ sortie.lieu.nom }}</li>#}
{#        <li>Ville: {{ lieu.rue }}</li>#}
{#        <li>Ville: {{ ville.nom }}</li>#}
{#        <li>Ville: {{ lieu.latitudel }}</li>#}
{#        <li>Ville: {{ lieu.longitude }}</li>#}
   </tr>
        <table>
            <thead>Participants</thead>
            <tbody>
            {% for participant in participant %}
                <tr>
                    <a href="{{ path('participant_show', {id: participant.id}) }}">{{ participant.pseudo }}</a>
                    <td>{{ participant.nom }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    <br>
{% endblock %}