{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Detail{% endblock %}

{% block body %}
    <div class="container" id="home-page">
    <h2>Afficher une sortie</h2>
    <div class="sortie-info">
        <ul class="info-list">
            <li><strong>Nom de la sortie : </strong>{{ sortie.nom|capitalize }}</li>
            <li><strong>Date et heure de la sortie : </strong>{{ sortie.dateHeureDebut|date("d/m/Y H:i") }}</li>
            <li><strong>Date limite d'inscription : </strong>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</li>
            <li><strong>Nombre de places : </strong>{{ sortie.nbInscriptionsMax }}</li>
            <li><strong>Durée : </strong>{{ sortie.duree }} minutes</li>
            {% if sortie.etats.id == 6 %}
                <li><strong>Motif d'annulation : </strong>{{ sortie.motif }}</li>
            {% else %}
                <li><strong>Description et infos : </strong>{{ sortie.infosSortie }}</li>
            {% endif %}
        </ul>
        <ul class="location-list">
            <li><strong>Lieu : </strong>{{ sortie.lieux.nom }}</li>
            <li><strong>Rue : </strong>{{ sortie.lieux.rue }}</li>
            <li><strong>Ville : </strong>{{ sortie.lieux.villes.nom }}</li>
            <li><strong>Code Postal : </strong>{{ sortie.lieux.villes.codePostal }}</li>
            <li><strong>Latitude : </strong>{{ sortie.lieux.latitude }}</li>
            <li><strong>Longitude : </strong>{{ sortie.lieux.longitude }}</li>
        </ul>
    </div>
    <br>
    <h4>Liste des participants inscrits :</h4>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Pseudos</th>
                <th>Nom</th>
            </tr>
            </thead>
            <tbody>
            {% for participant in participant %}
                <tr>
                    {% if participant == app.user %}
                        <th>{{ participant.pseudo|upper }} (organisateur)</th>
                    {% else %}
                        <th><a href="">{{ participant.pseudo|upper }}</a></th>
                    {% endif %}
                    <th>{{ participant.prenom|capitalize }} {{ participant.nom|upper }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}