{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Detail{% endblock %}

{% block body %}
    <div class="container" id="home-page">
    <h2>Afficher une sortie</h2>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Nom de la sortie:</th>
                <th>Date et heure de la sortie:</th>
                <th>Date limite d'inscription:</th>
                <th>Nombre de places:</th>
                <th>Durée:</th>
                <th>Description et infos:</th>
                {#        <li>Lieu: {{ sortie.lieu.nom }}</li> #}
                {#        <li>Ville: {{ lieu.rue }}</li> #}
                {#        <li>Ville: {{ ville.nom }}</li> #}
                {#        <li>Ville: {{ lieu.latitudel }}</li> #}
                {#        <li>Ville: {{ lieu.longitude }}</li> #}
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>{{ sortie.nom|capitalize }}</td>
                <td>{{ sortie.dateHeureDebut|date("d/m/Y H:i") }}</td>
                <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
                <td>{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.duree }}</td>
                <td>{{ sortie.infosSortie }}</td>
            </tr>
            </tbody>
            {#                <thead>Participants</thead> #}
            {#                <tbody> #}
            {#                {% for participant in participant %} #}
            {#                    <tr> #}
            {#                        <td>{{ participant.nom }}</td> #}
            {#                    </tr> #}
            {#                {% endfor %} #}
            {#                </tbody> #}
        </table>
    </div>
{% endblock %}