<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir App{% endblock %}</title>
        <link rel="icon" href="{{ asset('Images/logo.jpg') }}" type="image/x-icon"> {# favicon #}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Anta&display=swap">

        {% block stylesheets %}

        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <header>
        <div class="header-wrapper">
            <div class="header-logo">
                <h1>[Sortir Logo ici]</h1>
            </div>
            <div class="header-barre">
                <nav>
                    <ul>
                        <li><a href="{{ path('app_home') }}">Accueil</a></li>
                        <li><a href="{{ path('app_villes') }}">Villes</a></li>
                        <li><a href="{{ path('app_sites') }}">Sites</a></li>
                        <li><a href="{{ path('app_profil') }}">Mon Profil</a></li>
                        <li><a href="{{ path('app_inscription') }}">S'inscrire</a></li>
                        {% if is_granted('IS_AUTHENTICATED') %}
                        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                        {% else %}
                        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                        {% endif %}

                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <body>
        {% block body %}{% endblock %}
    </body>

    <footer>
        <div>
            <b>2024 - ENI - AppSortir</b>
        </div>
    </footer>
</html>
